@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    line-height: 1.5;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    background-color: rgb(31, 31, 162);
}

main {
    overflow-x: hidden;
}

.about img {
    width: 250px;
}

.max-w-24ch {
    max-width: 24ch;
}

.group,
.project-card {
    flex: 0 0 85%;
}

.transition-all {
    transition-duration: 400ms !important;
}

.transition-fade {
    opacity: 1;
    transition: 500ms;
    /* transform: translateX(0);
    transform-origin: left; */
}

html.is-animating .transition-fade {
    opacity: 0;
    transform: translateY(-100px);
}

/* html.is-leaving .transition-fade {
    opacity: 0;
     transform: translateX(0); 
}
 */

.social-dark svg:hover {
    fill: rgb(5, 5, 5);
}

#edm-chambers .mn-widget-member-name {
    display: none;
}

.mn-widget-member-text {
    display: none;
}

.mn-widget-member-logo {
    border-radius: 20px;
    width: 200px;
    height: 200px;
}

.upcity-widget {
    color: #ffffff !important;
}

@media screen and (min-width: 768px) {
    .about .container {
        padding: 0 70px;
    }
}

/* 
@media screen and (min-width: 1024px) {
    .projects .container {
        max-width: 1280px;
    }
} */